<div class="jumbotron center">
  <h1>About Us</h1>
  <p>Share your tiny wins with the community or privately.</p>
  <p>Be recognized and celebrate every day’s wins. We are building a community to support one another’s accomplishments. A small win is still a win.
  Acknowledge your wins and successes! If you ever feel down just take a look at your accomplishments.
  </p> 
  <p>We live in a culture where it’s considered bragging to share your accomplishments. We live in a world where your wins get filtered out by cat photos and Donald Trump news. Our goal is that you can share you. 
  Did you just hit 10,000 views on your blog post?! 
  Share it!
  Did you just release your first book?!
  Share it!
  Share your wins! However small or large. This community is your space to share with other like-minded individuals.
</p>
</div>